body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background: var(--cor-main);
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
ul,
p,
dd,
blockquote {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}